<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ganeshjanani.myapplication">
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".devicelockintentclass" android:excludeFromRecents="true" android:launchMode="singleTop" android:noHistory="true"></activity>
        <receiver android:name=".DeviceAdminReceiver"
            android:label="devicelock"
            android:description="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/policy" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".BootUpReceiver" android:label="Reboot"  android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.REBOOT"/>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <!--<receiver android:name=".PhoneUnlockedReceiver">-->
        <!--<intent-filer>-->
        <!--<action android:name="android.intent.action.USER_PRESENT"/>-->
        <!--</intent-filer>-->
        <!--</receiver>-->
        <receiver android:name=".PhoneUnlockedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <activity android:name=".AppBlockIntent" android:excludeFromRecents="true" android:noHistory="true"/>
        <activity android:name=".tabclass" android:excludeFromRecents="true"></activity>
        <activity android:name=".ProfileDeviceLockLayout" android:excludeFromRecents="true"></activity>
        <activity android:name=".UsageDeviceLockLayout" android:excludeFromRecents="true"></activity>
       <service android:name=".ForegroundAppCheckingService"/>
        <service android:name=".UsageService"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>